* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Titillium Web', 'sans-serif';
  background-color: #FCFCFC;
  color: #1C1C1C;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.navbar {
  background-color: #272822 !important;
}

nav .container {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  max-width: 100%;
  overflow-x: scroll !important;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 18px;
  }
}