.code-grid {
  font-family: 'Titillium Web', 'sans-serif';
  font-size: 16px;
  margin: 94px 15px 30px 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "code-page-title"
  "code-page-grid";
  grid-gap: 30px;
}

.code-page-title {
  grid-area: code-page-title;
  text-align: center;
}

.code-page-grid {
  grid-area: code-page-grid;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "code-page-description"
  "code-page-image"
  "code-page-hr";
  grid-gap: 50px;
}

.code-page-grid {
  margin: 0;
}

.code-page-description {
  grid-area: code-page-description;
  text-align: center;
  margin: auto;
}

.code-page-image {
  grid-area: code-page-image;
  display: inline-block;
  text-align: center;
}

.code-page-hr {
  grid-area: code-page-hr;
}

@media screen and (min-width: 768px) {
  .code-grid {
    font-family: 'Titillium Web', 'sans-serif';
    color: #1F1F1F;
    margin: 94px 0 30px 0;
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    grid-template-areas:
    ". code-page-title ."
    ". code-page-grid .";
    grid-gap: 30px;
  }

  .code-page-grid {
    font-family: 'Titillium Web', 'sans-serif';
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "code-page-description code-page-image"
    "code-page-hr code-page-hr";
    grid-gap: 50px;
  }
}
