.hash_tables-grid {
  margin: 94px 15px 30px 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "title"
  "project-11_1-grid"
  "project-11_2-grid"
  "project-11_3-grid"
  "project-11_4-grid"
  "project-11_5-grid";
  grid-gap: 30px;
}

.hash_tables-title {
  grid-area: title;
  text-align: center;
}

.project-11_1-grid {
  grid-area: project-11_1-grid;
}

.project-11_2-grid {
  grid-area: project-11_2-grid;
}

.project-11_3-grid {
  grid-area: project-11_3-grid;
}

.project-11_4-grid {
  grid-area: project-11_4-grid;
}

.project-11_5-grid {
  grid-area: project-11_5-grid;
}

@media screen and (min-width: 768px) {
  .hash_tables-grid {
    margin: 94px 0 30px 0;
    grid-template-columns: 1fr 900px 1fr;
    grid-template-areas:
    ". title ."
    ". project-11_1-grid ."
    ". project-11_2-grid ."
    ". project-11_3-grid ."
    ". project-11_4-grid ."
    ". project-11_5-grid .";
    grid-gap: 50px;
  }
}
