.project-11_3-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "title-11_3"
  "description-11_3"
  "image-11_3"
  "project-11_3-requirements"
  "project-11_3-digital-fold"
  "project-11_3-digital-fold-exp"
  "hr-11_3";
  grid-gap: 30px;
}

.project-11_3-grid li {
    position: relative;
    list-style-type: none;
    margin-left: 40px;
}

.project-11_3-grid li::before {
    content: '\2022';      /* Unicode for • character */
    position: absolute;
    left: -1em;
    top: -.15em;
    font-size: 1.1em;
}

.title-11_3 {
  grid-area: title-11_3;
  text-align: center;
}

.description-11_3 {
  grid-area: description-11_3;
  text-align: center;
}

.description-11_3 a {
  color: #1C1C1C;
  text-decoration: none;
  transition: 0.3s;
}
.description-11_3 a:hover,
.description-11_3 a:active {
  text-decoration: underline;
}

.image-11_3 {
  grid-area: image-11_3;
  display: inline-grid;
}

.project-11_3-requirements {
  grid-area: project-11_3-requirements;
  text-align: center;
}

.project-11_3-digital-fold {
  grid-area: project-11_3-digital-fold;
}
.project-11_3-digital-fold-exp {
  grid-area: project-11_3-digital-fold-exp;
  margin: auto;
}

.hr-11_3 {
  grid-area: hr-11_3;
}

@media screen and (min-width: 736px) {
  .project-11_3-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title-11_3 title-11_3"
    "description-11_3 image-11_3"
    "project-11_3-requirements project-11_3-requirements"
    "project-11_3-digital-fold project-11_3-digital-fold-exp"
    "hr-11_3 hr-11_3";
    grid-gap: 50px;
  }
}
