.project-6_4-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "title-6_4"
  "description-6_4"
  "image-6_4"
  "project-6_4-requirements"
  "project-6_4-knapsack"
  "project-6_4-knapsack-exp"
  "project-6_4-main"
  "project-6_4-main-exp"
  "hr-6_4";
  grid-gap: 30px;
}

.project-6_4-grid h4 {
  margin-bottom: 10px;
}

.project-6_4-grid li {
    position: relative;
    list-style-type: none;
    margin-left: 40px;
}

.project-6_4-grid li::before {
    content: '\2022';      /* Unicode for • character */
    position: absolute;
    left: -1em;
    top: -.15em;
    font-size: 1.1em;
}

.title-6_4 {
  grid-area: title-6_4;
  text-align: center;
}

.description-6_4 {
  grid-area: description-6_4;
  text-align: center;
}

.description-6_4 a {
  color: #1C1C1C;
  text-decoration: none;
  transition: 0.3s;
}
.description-6_4 a:hover,
.description-6_4 a:active {
  text-decoration: underline;
}

.image-6_4 {
  grid-area: image-6_4;
}

.project-6_4-requirements {
  grid-area: project-6_4-requirements;
  text-align: center;
}

.project-6_4-knapsack {
  grid-area: project-6_4-knapsack;
}
.project-6_4-knapsack-exp {
  grid-area: project-6_4-knapsack-exp;
  margin: auto;
}

.project-6_4-main {
  grid-area: project-6_4-main;
}
.project-6_4-main-exp {
  grid-area: project-6_4-main-exp;
  margin: auto;
}

.hr-6_4 {
  grid-area: hr-6_4;
}

@media screen and (min-width: 768px) {
  .project-6_4-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title-6_4 title-6_4"
    "description-6_4 image-6_4"
    "project-6_4-requirements project-6_4-requirements"
    "project-6_4-knapsack project-6_4-knapsack-exp"
    "project-6_4-main project-6_4-main-exp"
    "hr-6_4 hr-6_4";
    grid-gap: 50px;
  }
}
