.project-7_3-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "title-7_3"
  "description-7_3"
  "project-7_3-requirements"
  "project-7_3-median"
  "project-7_3-median-exp"
  "project-7_3-partition"
  "project-7_3-partition-exp"
  "hr-7_3";
  grid-gap: 30px;
}

.project-7_3-grid li {
    position: relative;
    list-style-type: none;
    margin-left: 40px;
}

.project-7_3-grid li::before {
    content: '\2022';      /* Unicode for • character */
    position: absolute;
    left: -1em;
    top: -.15em;
    font-size: 1.1em;
}

.title-7_3 {
  grid-area: title-7_3;
  text-align: center;
}

.description-7_3 {
  grid-area: description-7_3;
  text-align: center;
}

.description-7_3 a {
  color: #1C1C1C;
  text-decoration: none;
  transition: 0.3s;
}
.description-7_3 a:hover,
.description-7_3 a:active {
  text-decoration: underline;
}

.project-7_3-requirements {
  grid-area: project-7_3-requirements;
  text-align: center;
}

.project-7_3-median {
  grid-area: project-7_3-median;
}
.project-7_3-median-exp {
  grid-area: project-7_3-median-exp;
}

.project-7_3-partition {
  grid-area: project-7_3-partition;
}
.project-7_3-partition-exp {
  grid-area: project-7_3-partition-exp;
}

.hr-7_3 {
  grid-area: hr-7_3;
}

@media screen and (min-width: 768px) {
  .project-7_3-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title-7_3 title-7_3"
    "description-7_3 description-7_3"
    "project-7_3-requirements project-7_3-requirements"
    "project-7_3-median project-7_3-median-exp"
    "project-7_3-partition project-7_3-partition-exp"
    "hr-7_3 hr-7_3";
    grid-gap: 50px;
  }
}
