.project-7_5-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "title-7_5"
  "description-7_5"
  "image-7_5"
  "project-7_5-requirements"
  "project-7_5-radix-sort"
  "project-7_5-radix-sort-exp"
  "project-7_5-get-max"
  "project-7_5-get-max-exp"
  "project-7_5-count-sort"
  "project-7_5-count-sort-exp"
  "hr-7_5";
  grid-gap: 30px;
}
.project-7_5-grid li {
    position: relative;
    list-style-type: none;
    margin-left: 40px;
}

.project-7_5-grid li::before {
    content: '\2022';      /* Unicode for • character */
    position: absolute;
    left: -1em;
    top: -.15em;
    font-size: 1.1em;
}

.title-7_5 {
  grid-area: title-7_5;
  text-align: center;
}

.description-7_5 {
  grid-area: description-7_5;
  text-align: center;
}

.description-7_5 a {
  color: #1C1C1C;
  text-decoration: none;
  transition: 0.3s;
}
.description-7_5 a:hover,
.description-7_5 a:active {
  text-decoration: underline;
}

.image-7_5 {
  grid-area: image-7_5;
  display: inline-grid;
}

.project-7_5-requirements {
  grid-area: project-7_5-requirements;
  text-align: center;
}

.project-7_5-radix-sort {
  grid-area: project-7_5-radix-sort;
}
.project-7_5-radix-sort-exp {
  grid-area: project-7_5-radix-sort-exp;
}

.project-7_5-get-max {
  grid-area: project-7_5-get-max;
}
.project-7_5-get-max-exp {
  grid-area: project-7_5-get-max-exp;
}

.project-7_5-count-sort {
  grid-area: project-7_5-count-sort;
}
.project-7_5-count-sort-exp {
  grid-area: project-7_5-count-sort-exp;
}

.hr-7_5 {
  grid-area: hr-7_5;
}

@media screen and (min-width: 736px) {
  .project-7_5-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title-7_5 title-7_5"
    "description-7_5 image-7_5"
    "project-7_5-requirements project-7_5-requirements"
    "project-7_5-radix-sort project-7_5-radix-sort-exp"
    "project-7_5-get-max project-7_5-get-max-exp"
    "project-7_5-count-sort project-7_5-count-sort-exp"
    "hr-7_5 hr-7_5";
    grid-gap: 50px;
  }
}
